* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  background-color: #eee;
}
button {
  padding: 4px 12px;
  cursor: pointer;
  margin: 0 6px;
}
.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.note_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
.note {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.05);
}
.note h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.note p {
  font-size: 14px;
  margin-bottom: 10px;
  min-height: 140px;
}
.note div {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  color: #666;
}
.note div span:first-child {
  margin-right: auto;
}
.note div a {
  display: block;
  padding: 6px;
  font-size: 20px;
}

.note div a:hover {
  color: #000;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}
.container h2 {
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}
form div {
  margin-bottom: 20px;
  font-size: 18px;
}
form div label {
  display: block;
  margin-bottom: 10px;
}
form div input,
form div textarea {
  width: 100%;
  padding: 12px;
}

@media (min-width: 576px) {
  .note_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .note_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
